.profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 100px; 
  padding-bottom: 120px; 
}

.recipeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
}

.recipeGrid > * {
  flex: 1 1 calc(33.33% - 20px); 
  max-width: calc(33.33% - 20px); 
}